<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/screen.css' type='text/css' media="screen" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/main.js"></script>
</head>
<body>
	<div class="notifications"></div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>