<form id="<%= params[:space_id] %>" class="charge" method="post">
	<label for="description">Description</label>
	<textarea type="text" name="description" class="description"></textarea><br/>
	<label for="amount">Amount</label>
	<input type="text" name="amount" class="amount"/><br/>
	<select name="membership">
	<% @memberships.each do |membership| %>
   <option value="<%= membership['id'] %>"><%= membership['address']['name'] %></option>
	<% end %>
	</select><br/>
	<input type="reset" value="Cancel"/>
	<input id="submit" type="button" value="Charge"/>
</form>