body {
	background: url('/bg_gradient.png'), url('/bg.png');
	background-repeat: repeat-x, repeat;
	margin: 0px;
}

.container {
	background: #fff;
	width: 70%;
	margin: 30px auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.notifications div {
	width: 30%;
	top: 20px;
	left: 35%;
	right: 35%;
	padding: 10px;
	text-align: center;
	position: absolute;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.notifications .info {
	background: blue;
}

.notifications .success {
	background: green;
}

.notifications .error {
	background: red;
}

.notifications .warning {
	background: yellow;
}